* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(195, 27, 24);
  overflow-x: hidden;
}

.header {
  height: 85px;
  width: 100vw;
  margin-top: 65px;
  display: flex;
}
.header__logo {
  width: 565px;
  height: 100%;
  background-color: rgb(238, 238, 238);
}
@media screen and (max-width: 769px) {
  .header__logo {
    height: 85px;
    width: 90vw;
  }
}
.header__nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}
.header__nav ul {
  display: flex;
  align-items: center;
  padding-right: 70px;
}
.header__nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav ul li:first-child {
  border-right: 1px solid rgb(255, 255, 255);
  padding-right: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: bold;
  font-size: 19px;
}
.header__nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0 5px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__nav ul {
    padding-right: 20px;
  }
}
@media screen and (max-width: 420px) {
  .header__nav ul {
    padding-right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .header__nav {
    align-items: center;
    padding: 20px 0;
  }
}

@media screen and (max-width: 769px) {
  .header {
    flex-direction: column-reverse;
    margin-top: 0;
    height: auto;
  }
}
.container {
  width: 100vw;
  min-height: 692px;
  padding-left: 70px;
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .text-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40vw;
  color: rgb(255, 255, 255);
  font-family: "Source Sans Pro";
  padding-right: 200px;
}
.container .text-side--header {
  text-transform: uppercase;
  font-size: 58px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .container .text-side h1 {
    font-size: 45px;
  }
}
.container .text-side--text {
  font-size: 22px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  .container .text-side {
    padding-right: 50px;
  }
}
@media screen and (max-width: 769px) {
  .container .text-side {
    width: 85vw;
    padding: 70px 0;
  }
}
.container .choice-side {
  width: 55vw;
  height: 100%;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.container .choice-side h1 {
  font-family: "Source Sans Pro";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  color: rgb(195, 27, 24);
  border-bottom: 2px solid rgb(195, 27, 24);
  padding: 50px 0 30px 0;
  margin: 0 55px;
}
@media screen and (max-width: 1200px) {
  .container .choice-side h1 {
    margin: 0 40px;
  }
}
.container .choice-side .choice-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.container .choice-side .choice-box form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 0 95px;
}
.container .choice-side .choice-box form input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
.container .choice-side .choice-box form label {
  padding: 25px 30px;
  font-size: 22px;
  font-family: "Source Sans Pro";
  position: relative;
}
.container .choice-side .choice-box form label .circle {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgb(195, 27, 24);
  position: absolute;
  left: 0;
  top: 40px;
}
.container .choice-side .choice-box form label .filled {
  background-color: rgb(195, 27, 24);
}
.container .choice-side .choice-box form label .upper {
  display: block;
  font-weight: 700;
}
.container .choice-side .choice-box form label .lower {
  display: block;
}
@media screen and (max-width: 1200px) {
  .container .choice-side .choice-box form label {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 1024px) {
  .container .choice-side .choice-box form label {
    font-size: 18px;
  }
}
.container .choice-side .choice-box form .btn {
  background-color: rgb(195, 27, 24);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 25px auto;
  font-family: "Arial";
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  box-shadow: 6px 6px 20px 1px gray;
}
.container .choice-side .choice-box form .btn:hover {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .container .choice-side .choice-box form {
    padding: 0 20px;
  }
}
@media screen and (max-width: 769px) {
  .container .choice-side {
    width: 85vw;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 769px) {
  .container {
    flex-direction: column;
  }
}
.footer {
  height: 135px;
  width: 100vw;
  padding-bottom: 55px;
  margin-top: 100px;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
}
.footer__container .left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
  height: 100%;
}
.footer__container .left-side__logo {
  width: 465px;
  height: 40px;
  background-color: rgb(238, 238, 238);
}
@media screen and (max-width: 769px) {
  .footer__container .left-side__logo {
    margin-bottom: 20px;
    width: 90vw;
  }
}
.footer__container .left-side__text {
  width: 480px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "Arial";
  font-size: 8px;
  text-align: center;
}
.footer__container .left-side__text .footer-span {
  padding: 0 5px;
}
@media screen and (max-width: 420px) {
  .footer__container .left-side__text .footer-span {
    display: block;
    padding: 5px 0;
  }
}
@media screen and (max-width: 769px) {
  .footer__container .left-side__text {
    width: 90vw;
    font-size: 7.5px;
  }
}
@media screen and (max-width: 420px) {
  .footer__container .left-side__text {
    font-size: 8px;
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  .footer__container .left-side {
    padding-right: 0;
  }
}
.footer__container .right-side {
  height: 100%;
  max-width: 200px;
  color: rgb(255, 255, 255);
  font-family: "Arial";
  padding-left: 20px;
  border-left: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__container .right-side__header {
  font-size: 11px;
}
@media screen and (max-width: 769px) {
  .footer__container .right-side__header {
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 15px;
    margin: 15px auto;
  }
}
.footer__container .right-side__paragraph {
  font-size: 8px;
}
@media screen and (max-width: 420px) {
  .footer__container .right-side__paragraph {
    text-align: justify;
  }
}
@media screen and (max-width: 769px) {
  .footer__container .right-side {
    border-left: none;
    max-width: 300px;
    padding-left: 0;
  }
}
@media screen and (max-width: 769px) {
  .footer__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
